USER_ALLOWLIST=dad:dad@example.com,mum:mum@example.com
BUDGET_ALERT_EMAIL=you@example.com
ALBUM_DOMAIN=album.example.com
HOSTED_ZONE_DOMAIN=example.com
HOSTED_ZONE_ID=Z00000000000000000000
CERTIFICATE_ARN=arn:aws:acm:us-east-1:123456789012:certificate/example
AWS_REGION=ap-southeast-2
